<!DOCTYPE html>
<html>
  <head>
    <title>Image Style Transfer: Painting 2 Painting</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Style Transfer</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <nav>
        <h2>Image Style Transfer: Painting 2 Painting</h2>
    </nav>
    <div class="index">
      <section>
        <h2>GatedGAN</h2>
        <p>A generative adversarial network that can apply pretrained styles to a given content image. The gating function controls how much each style is applied to the content.</p>
        <img src="static/images/gatedgan.jpg">
        <button onclick="location.href='/gated';">Try GatedGAN</button>
      </section>
      <hr class="gradient">
      <section>
        <h2>Style Mixer</h2>
        <p>A neural network architecture called the Semantic-aware Multi-Style Transfer Network (SMTNet), which combines the strengths of existing style transfer methods to create a more powerful and flexible model.</p>
        <img src="static/images/stylemixer.png">
        <button onclick="location.href='/stylemixer';">Try Style Mixer</button>
      </section>
      <hr class="gradient">
      <section>
        <h2>Try Everything</h2>
        <p>Input a single image and try it with both models.</p>
        <button onclick="location.href='/tryall';">Try Everything</button>
      </section>
  </div>
  </body>
</html>
